/* BoardList.css */
.board-list {
  width: 75%; /* 부모 컨테이너의 80%만 차지 */
  margin: 10px auto; /* 위아래 20px 간격, 좌우 자동으로 가운데 정렬 */
}

.board-table {
  width: 100%; /* board-list의 100%를 사용 */
  border-collapse: collapse;
  margin: 0 auto; /* 테이블을 중앙에 정렬 */
}

.board-table th,
.board-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.board-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.board-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.board-table tr:hover {
  background-color: #ddd;
}

.board-table td {
  text-align: center;
}
