
.register-spacing-top{
  margin-top: 3%;
}


.board-write-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    align-self: flex-end;
  }
  